$white: #fff;
$gold: #998675;

@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium.eot") format("embedded-opentype"),
    url("../fonts/RalewayMedium.woff2") format("woff2"),
    url("../fonts/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium.ttf") format("truetype"),
    url("../fonts/RalewayMedium.svg#RalewayMedium") format("svg");
}
@font-face {
  font-family: "RalewayExtraBold";
  src: url("../fonts/RalewayExtraBold.eot");
  src: url("../fonts/RalewayExtraBold.eot") format("embedded-opentype"),
    url("../fonts/RalewayExtraBold.woff2") format("woff2"),
    url("../fonts/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold.ttf") format("truetype"),
    url("../fonts/RalewayExtraBold.svg#RalewayExtraBold") format("svg");
}
@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/RalewayLight.eot");
  src: url("../fonts/RalewayLight.eot") format("embedded-opentype"),
    url("../fonts/RalewayLight.woff2") format("woff2"),
    url("../fonts/RalewayLight.woff") format("woff"),
    url("../fonts/RalewayLight.ttf") format("truetype"),
    url("../fonts/RalewayLight.svg#RalewayLight") format("svg");
}
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular.eot") format("embedded-opentype"),
    url("../fonts/RalewayRegular.woff2") format("woff2"),
    url("../fonts/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular.ttf") format("truetype"),
    url("../fonts/RalewayRegular.svg#RalewayRegular") format("svg");
}

body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: "RalewayRegular", sans-serif;
}

// ---HEADER---
.header {
  width: 100%;
  background: url("../img/header_bg.png") center / cover no-repeat;
}
.header_top {
  width: 1230px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-around;
}
.header_logo {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  font-size: 34px;
  text-decoration: none;
  fill: currentColor;
  &:hover {
    color: $gold;
  }
  &:active {
    color: #d3c1ad;
  }
}
.header_nav {
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu_item {
  font-size: 14px;
  font-family: "RalewayLight", sans-serif;
  color: $white;
  text-decoration: none;
  margin-right: 30px;
  &:hover {
    color: #d3c1ad;
  }
  &:active {
    color: $gold;
  }
}
.header_nav-bag {
  outline: none;
  border: none;
  background: transparent;
  width: 18px;
  height: 24px;
  margin-right: 30px;
  fill: $white;
  &:hover {
    fill: #d3c1ad;
    cursor: pointer;
  }
  &:active {
    fill: $gold;
  }
}
.header_nav-search {
  position: relative;
  width: 25px;
  height: 25px;
  color: $white;
}
.nav-search_svg {
  width: 100%;
  height: 100%;
  fill: $white;
  &:hover {
    fill: #d3c1ad;
    cursor: pointer;
  }
}
.nav-search_label {
  display: block;
  width: 100%;
  height: 100%;
}
.nav-search_input {
  width: 0;
  min-height: 0;
  color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: -135px;
  background: transparent;
  &:focus {
    cursor: text;
    color: $white;
    width: 300px;
    border: 1px solid $white;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    transition: width 1s ease-out;
  }
}
.nav-search_input:focus ~ .nav-search_label>.nav-search_svg  {
  fill: $gold;
}
.header_main {
  color: $white;
}
.carousel_main {
  display: flex;
  padding: 250px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.carousel-controls-prev {
  display: block;
  width: 55px;
  height: 55px;
  position: relative;
  margin-left: 150px;
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    transform: rotate(-135deg);
    position: absolute;
    top: 34px;
    left: 0;
  }
}
.carousel-controls-next {
  display: block;
  width: 55px;
  height: 55px;
  position: relative;
  margin-right: 150px;
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    transform: rotate(225deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    border: 2px solid #d3c1ad;
    box-sizing: border-box;
    transform: rotate(-225deg);
    position: absolute;
    top: 34px;
    left: 0;
  }
}

.carousel-controls-next:hover::before,
.carousel-controls-next:hover::after,
.carousel-controls-prev:hover::before,
.carousel-controls-prev:hover::after {
  border: 2px solid $gold;
}

.carousel-controls-next:active::before,
.carousel-controls-next:active::after,
.carousel-controls-prev:active::before,
.carousel-controls-prev:active::after {
  border: 2px solid $white;
}

.carousel-body {
  text-align: center;
  max-width: 590px;
}
.carousel-heading_semi {
  font-family: "RalewayMedium", sans-serif;
  font-size: 36px;
  margin: 0;
}
.carousel-heading_main {
  font-family: "RalewayExtraBold", sans-serif;
  font-size: 52px;
  margin: 0;
}
.carousel-heading_txt {
  font-family: "RalewayLight", sans-serif;
  font-size: 16px;
  margin: 20px 0 50px;
}
.carousel-btn {
  margin: 0 auto;
  display: block;
  width: 170px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $gold;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  border-bottom: 3px solid #736357;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  word-break: break-all;
  &:hover {
    background: #d3c1ad;
  }
}
.carousel_pagination {
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}
.pagination_item {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #8f8f91;
  border-radius: 50%;
  box-sizing: border-box;
  &-active,
  &:hover {
    background-color: transparent;
    border: 1.5px solid #d3c1ad;
    transform: scale(1.4);
  }
}

// ---FEATURES---
.features {
  width: 1230px;
  padding: 75px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-item {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 285px;
    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #f1eee9;
    }
    &:hover:after {
      background-color: $gold;
    }
    &:hover .features-item_icon {
      fill: $gold;
    }
    &:hover .features-item_title {
      color: $gold;
    }
    &_icon {
      display: block;
      fill: #555555;
    }
    &_title {
      width: 100%;
      font-family: "RalewayMedium";
      font-size: 22px;
    }
    &_txt {
      font-family: "RalewayLight";
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      padding: 25px 0;
    }
  }
}
